@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body{
    font-family: 'Lato', sans-serif;
    /* max-width: 1200px; */
    margin: 0 auto;
}
.loadingIcon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#error-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a5a4a4;
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* transition: all ease 3s; */
}

.seach{
    width: 85%;
    height: 50px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    justify-content:flex-start;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.seach > i {
    color: rgb(126, 126, 126);
}
input{
    border: none;
    font-weight: 600;
    outline: 0;
}

.card-main{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: stretch;
    justify-content: center;
}

.country-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    max-width: 350px;
    min-width: 200px;
    /* align-items: center; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* width: 90%; */
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.country-card > img{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.country-card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.infor{
    padding: 1rem 0 2rem;
}
.name-country{
    margin:1rem 1.3rem 0;
    line-height: 1.8rem;
    letter-spacing: 0.3px;
}
.info-country{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin: 1.3rem;
}
.info-country > p{
    letter-spacing: 0.3px;
}
h3{
    font-weight: 900;
    font-size: 22px;
}